name: Build Unlocked

on:
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: "0 10 * * 0"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  build:
    runs-on: ubuntu-latest
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}

    strategy:
      matrix:
        otp: ['24', '25', '26', '27']
        elixir: ['1.15', '1.16', '1.17', '1.18']

    steps:
    - uses: actions/checkout@v4
    - name: Set up Elixir
      uses: erlef/setup-beam@v1
      with:
        otp-version: ${{matrix.otp}}
        elixir-version: ${{matrix.elixir}}
    - name: Restore dependencies cache
      uses: actions/cache@v4
      with:
        path: deps
        key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
        restore-keys: ${{ runner.os }}-mix-
    - name: Unlock dependencies
      run: mix deps.unlock --all
    - name: Install dependencies
      run: mix deps.get
    - name: Run tests
      run: mix test

